body {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  border-radius: 30px;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.calculator {
  flex: 0 0 65%;
}
.screen {
  width: 100%;
  font-size: 5rem;
  padding: 0.5rem;
  background: #5a5b5b;
  color: #f7f6e7;
  border: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}

button {
  flex: 0 0 25%;
  border: 0.3px #a3a6a3;
  padding: 0.25rem 0;
  transition: all 2s ease;
}

button:hover {
  background: #ffe5e8;
}

.btn-yellow {
  background: #eacdd0;
  color: white;
}
.btn-grey {
  background: rgb(244, 244, 244);
  color: #4d4d4d;
}
.btn,
.btn-equal,
.btn-clear {
  font-size: 4rem;
}

.btn-equal {
  background: #bbd38b;
  color: white;
}
.btn-clear {
  background: #f36453;
  color: white;
}
