body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  background: #2b2b2b;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 350px;
  margin: 0 auto;
}

.screen {
  width: 100%;
  font-size: 5rem;
  padding: 0.5rem;
  background: linear-gradient(
    165deg,
    rgba(129, 199, 115, 1) 0%,
    rgba(83, 177, 125, 1) 80%
  );

  color: #f7f6e7;
  border: none;
  height: 150px;
  border-radius: 5px 5px 0 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}

button {
  flex: 0 0 25%;
  border: 0.3px #a3a6a3;
  padding: 0.25rem 0;
  transition: all 2s ease;
}

button:hover {
  background: #ffe5e8;
}

.btn-grey {
  background: #48595c;
  color: #f7f6e7;
}
.btn,
.btn-equal,
.btn-clear {
  font-size: 3.5rem;
  font-weight: lighter;
}

.btn-equal {
  background: #48595c;
  color: #f7f6e7;
  border-radius: 0 0 0 5px;
}
.btn-equal1 {
  background: #48595c;
  color: #f7f6e7;
}
.btn-equal2 {
  background: #48595c;
  color: #f7f6e7;
  border-radius: 0 0 5px 0;
}
.btn-clear {
  background: #f36453;
  color: white;
}
.btn-yellow {
  background: #2e3739;
  color: #84ae87;
  font-size: 3rem;
}

.wrape {
  border: 1px;
  box-shadow: -webkit-box-shadow: 49px 23px 85px -59px rgba(0,0,0,0.77);
  -moz-box-shadow: 49px 23px 85px -59px rgba(0,0,0,0.77);
  box-shadow: 49px 23px 85px -59px rgba(0,0,0,0.77);
}
